html,body{
 height: 100%;
}
header {
}
header .wrap {
}
header .wrap > h1 {
  
}
header .wrap > h1 > a {
  
}
header .wrap > ul {
  display: flex;
  justify-content: space-evenly;
}
header .wrap>ul>li {
  
}
header .wrap>ul>li>a {
  
}






