#portfolio{color: 1;
    .wrap{color: 1;
        .port{color: 1;
            h2{color: 1;

            }
            .port1{color: 1;
                .portbox{color: 1;
                    a{color: 1;
                        img{color: 1;

                        }
                    }
                    .port2{color: 1;
                        h3{color: 1;

                        }
                        div{color: 1;
                            p{color: 1;
                                em{color: 1;
                                    span{color: 1;

                                    }
                                }
                            }
                            a.more{color: 1;

                            }
                        }
                    }
                }
            }
        }
    }
}